.first-view {
	pointer-events: none;
	position: fixed;
		bottom: 0;
		top: 0;
	text-align: center;
	width: 100%;

	&.is-active {
		.first-view__content {
			opacity: 0.9;
			transform: scale( 1 );
		}
	}
}

.first-view__content {
	height: 100%;
	margin: 0 auto;
	max-width: 600px;
	opacity: 0;
	overflow: auto;
	pointer-events: auto;
	transform: scale( 1.6 );
	transition: all 0.25s ease-in-out;

	img {
		margin-bottom: 32px;
	}

	h1 {
		font-size: 2em;
		font-weight: bold;
		margin: 0 0 8px 0;
	}

	p {
		margin: 16px 0;
		line-height: 1.5;
	}
}

.first-view__hide-preference {
	position: absolute;
		bottom: 24px;
		left: 0;
		right: 0;

	input[type='checkbox'] {
		float: none;
		margin-right: 4px;
	}
}

.first-viewable {
	opacity: 1;
	pointer-events: auto;
	transform: scale( 1 );
	transition: all 0.25s ease-in-out;

	&.is-first-view-active {
		filter: blur( 4px );
		opacity: 0.2;
		pointer-events: none;
		transform: scale( 0.9 );
	}
}
